body{
	background-image: url(../img/pattern.jpg);
	margin: 0px;
}

header{
	background-color: white;
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	margin: 0px;
}
ul{
	list-style: none;
}
ul li{
	display: inline-block;
	padding: 10px;
}
a{
	text-decoration: none;
}
section{
	margin: 100px 125px 25px;
	background-color: white;
	border-radius: 5px;
}
section h1{
	padding: 20px 20px 0px 20px;
	text-align: center;
}
#article-list{
	padding: 0px 10px 10px 10px;
}
p{
	border-bottom: solid 1px;
	text-align: justify;
}
footer{
	background-color: black;
	text-align: center;
	color: white;
	padding: 10px;
}